.productpreview {
  float: left;
  margin-top: 30px;
}

.productslider {
  float: left;
}

.sproductslide {
  margin-right: 31px;
}


.sproductslide a img{
  border: 1px solid #dbc5b4;
  display: block;
}

.slick-track {
  width: 138px;
}








.largepreview {
  float: right;
  width: 495px;
  height: 591px;
  border: 4px solid #dbc5b4;
  margin-top: -4px;

}


