.aboutproduct {
  float: right;
  text-align: left;
  display: block;
  width: 466px;
  margin-left: 32px;
  margin-top: 28px;
}

.aboutproduct h3 {
  font-size: 30px;
  color: #232323;
  margin: 0;
}


form  {
  display: inline;
}

.checker {
  background: url("images/star.png") no-repeat center;
  display: inline-block;
  position:relative;
  width: 16px;
  height: 15px;
  margin-top: 20px;
}


.checker .rating:checked + .marker{
  background: url("images/staractive.png") no-repeat center;
}

.checker .marker {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  margin: auto;
  width: 16px;
  height: 15px;
}

.rating {
  display: block;
  opacity:0;
  width: 16px;
  height: 15px;
  margin: 0 5px 0 0;
}



.stockinfo {
  margin: 26px 0 30px;
}

.stockinfo div {
  position: relative;
  display: inline;
  font-size: 15px;
  color: #333333;
  margin-right: 47px;
}
.instock {
  margin-left: 30px;
}
.stockinfo .code {
  margin-right: 52px;
}

.stockinfo  a{
  text-decoration: none;
  font-size: 15px;
  color: #666666;
  padding-bottom: 3px;
}

.instock:before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: -100px;
  position: absolute;
  background: url("images/instock.png") center center no-repeat;
}

.info {
  text-align: left;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.63;
}

.prices {
  margin-top: 40px;
  font-size: 27px;
  color: #ff0000;
}


.colorvariant {
  margin-top: 25px;
}

.colortext {
  float: left;
  font-size: 20px;
  color: #333333;
  height: 26px;
  line-height: 1.3;
  margin-right: 20px;
}

.colorblocks a .colors {
  display: inline-block;
  border: 1px solid #cccccc;
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.colorblocks a .colors div {
  display: inline-block;
  margin: 2px;
  width: 20px;
  height: 20px;
}


.orange {
  background-color: #be926f;
}

.green {
  background-color: #355e60;
}

.black {
  background-color: #403634;
}

.grey {
  background-color: #807875;
}
.purple {
  background-color: #f71751;
}
.buyinstruments  {
  margin: 28px auto;
  display: inline-block;
}

.spinner {
  display: inline-block;
  vertical-align: top;
}


.spinner input  {
  position: relative;
  display: block;
  padding: 0;
  width: 58px;
  height: 58px;
  border: 1px solid #999999;
  font-size: 26px;
  color: #333333;
  text-align: center;
  float: left;
}
.spinner .plus{
  float: right;
  display: inline;
  width: 30px;
  height: 60px;
  font-size: 20px;
  color: #666666;
  font-weight: bold;
  margin-right: 12px;
}

.plus button{
  display: block;
  width: 28px;
  height: 30px;
  border: 1px solid #999999;
  border-left:none;
  font-size: 20px;
  color: #666666;
  font-weight: bold;
  background: none #f7f7f7;
  transition: color, background 0.3s;
}
.plus .dec {
  border-top: none;
}

.plus button:hover {
  color:#ffffff;
  background:#be926f
}

.buyinstruments button {
  margin-right: 12px;
}


.buybutton  {
  display: inline-block;
  width: 160px;
  height: 60px;
  text-decoration: none;
  padding: 21px 0 19px;
  font-size: 19px;
  color: #f7f7f7;
  vertical-align: top;
  transition:background-color, color 0.3s;
  background: #be926f none;
}
.buybutton:hover{
  color: #be926f;
  background-color: #f7f7f7;
}


.to-favorite {
  display: inline-block;
  border: 1px solid #999999;
  width: 59px;
  height: 60px;
  background:url("images/to-favorite.png") center center no-repeat;
  transition:border,background-color 0.3s;
}
.to-compare:hover,
.to-favorite:hover {
  border: 1px solid #be926f;
  background-color: #be926f;
}

.to-compare {
  display: inline-block;
  border: 1px solid #999999;
  width: 59px;
  height: 60px;
  background:url("images/to-compare.png") center center no-repeat;
  transition:border,background-color 0.3s;
}

.buyinstruments .sharesocial {
  margin-top: 60px;
  float: left;
}

@media (max-width: 769px) {
  .aboutproduct {
    float: none;
    width: 90%;
    margin:30px 20px;
    text-align: center;
  }

  .stockinfo div {
    margin-top: 20px;
  }

  .colortext {
    float: none;
    text-align: center;
    margin-top: 20px;
  }

  .buyinstruments {
    width: 100%;
    margin: 30px auto;
    text-align: center;
  }

}

@media (max-width: 414px) {
  .stockinfo div {
    display: block;
    margin: 20px 0 auto auto;
    padding: 0;
  }
  .stockinfo .code {
    margin-right: 0;
  }

  .buyinstruments {
    width: 100%;
    display: block;
    margin: 30px auto;
    text-align: justify;
  }

  .buyinstruments div {
    text-align: left;
  }

  .buybutton {
    width: 56px;
    height: 60px;
    font-size: 12px;
  }

  .to-compare,
  .to-favorite {
    margin-right: 0;
  }

}




