
@import url(bloggreyline.css);
@import url(blogform.css);
@import url(blogtext.css);

.page {
  background-color: #f7f7f7;
  padding: 30px 0 auto 0;
}

.page a {
  text-decoration: none;
}

.page .testimonials {

}
