
.blogtext {
  background: #ffffff;
  padding: 60px 0 0;
  line-height: 26px;
  font-family: 'Montserrat', sans-serif;
  float: right;
}

h1 {
  font-size: 24px;
  color: #000000;
}

.notes {
  color: #666666;
  margin-top: 15px;
}

span {
  font-size: 15px;
  color: #999999;
}

.text {
  margin-top: 62px;
}

p {
  font-size: 15px;
  color: #333333;
  text-align: justify;

}




