.contacts {
  margin: 46px 75px  0 83px;
  font-size: 20px;
  color: #232323;
  text-align: center;
}

.tel, .loc, .email {
  margin: 0 auto 10px;
  width: 56px;
  height: 56px;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 129px;
  padding-bottom: 59px;
}
.tel {
  background: url("images/iPhone.png")center center no-repeat;

}

.loc {
  background: url("images/location.png")center center no-repeat;

}

.email {
  background: url("images/Mail.png")center center no-repeat;
}

.numb a{
  font-size: 24px;
  text-decoration: none;
  color: #232323;
}

.adress a{
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}

.emailad a {
  font-size: 14px;
  color: #be926f;
  text-decoration: none;
}
