.tabs {
  margin-top: 60px;
}



.adaptive {
  display: none;
}
.adaptive li a {
  margin-right: 0;
}

.ui-tabs {
  padding: 0;
}

.ui-tabs .ui-tabs-nav  {
  background-color: #f7f7f7;
  padding: 0;
  margin-bottom: -1px;
}

#desccription, #reviews, #addinformation{
  border: 1px solid #be926f;
  padding: 0 20px 0;
}

.ui-state-active a, .ui-state-active .ui-tabs-anchor {
  margin-bottom: -3px;
  border-bottom: 1px solid #ffffff;
  border-top: 3px solid #be926f;

}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor  {
padding: 12px 18px;
}

.ui-helper-reset {
  font-size: 20px;
}

.ui-widget-header {
  border: none;
}

.info p {
  font-size: 16px;
  color: #666666;
  line-height: 1.5;
  margin: 30px 0 6px;
}
.info  h4 {
  font-size: 16px;
  color: #333333;
}
@media (max-width: 769px) {
  .info {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  h4 {
    width: 90%;
    margin: 30px auto;
    text-align: center;
  }
}

@media (max-width: 414px) {
  .tabs ul li{
    display: none;
  }

  .tabs .adaptive {
    width: 90%;
    padding: 0;
    margin: auto;
  }

}

@media (max-width: 340px) {
  .info  {
    margin: 30px 0;
  }
}

