.header-top {
  background-color: #2b2b2b;
  padding: 9px;
}

.clearfix:after {
  content:'';
  display: block;
  width: 100%;
  clear: both;
}

.header-phone a,
.header-userlinks a {
  text-decoration: none;
  color: #666666;
  font-weight: bold;
}
.header-phone {
  float:left;
}

.header-userlinks {
  float:right;
}
