.pagebody {
  height: 470px;
  background: url("../products/image copy.jpg") center center no-repeat;
  background-size: auto;
}

.slider{
  display: flex;
}
.slider .slidetext {
  text-align: left;
  margin: 100px 40px;
  color: black;
}

.year {
  font-size: 40px;
  line-height: 0.9;
}
.nc {
  font-size: 80px;
  line-height: 0.9;
}
.ncc {
  font-size: 75px;
  line-height: 0.9;
}
.sl {
  font-size: 17px;
  color: #666666;
  line-height: 1.176;
  vertical-align: top;
}

.buttonshopnow {
  margin-top: 75px;
}

.shopnow {
  font-size: 11px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #be926f;
  background-color: #be926f;
  padding: 16px 22px;
}





