.pagebody {
  height: 470px;
  background: url("../products/imagecopy.jpg") center center no-repeat;
  background-size: auto;
}

.slider{
  display: flex;

}
.slider .slidetext {
  text-align: left;
  margin: 100px 44px;
  color: black;
}

.year {
  font-size: 40px;
  line-height: 0.9;
}
.nc {
  font-size: 80px;
  font-weight: bold;
  line-height: 0.74;
}
.ncc {
  font-size: 75px;
  line-height: 0.97;
}
.sl {
  font-size: 17px;
  color: #666666;
  line-height: 1.65;
  vertical-align: top;
}

.buttonshopnow {
  margin-top: 75px;
}

.shopnow {
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #be926f;
  background-color: #be926f;
  padding: 13px 21px;
}

@media (max-width: 960px) {
  .slider {
    width: 663px;
    margin: auto;
  }

}



