.productpreview {
  float: left;
  margin-top: 30px;
  overflow: hidden;
}

.productslider {
  float: left;
  width: 140px;
  height: 600px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.productslide{
  margin: 15px 0;
}

.productslide a {
  display: block;
}

.productslide a img{
  display: block;
  width: 138px;
  height: 178px;
  border: 1px solid #dbc5b4;
}

.largepreview {
  float: right;
  width: 500px;
  margin-left: 30px;
}
.largepreview a {
  width: 100%;
}

.largepreview a img {
  border: 3px solid #dbc5b4;
  width: 100%;
  height: 594px;
  object-fit: cover;
}


.aboutproduct {
  margin-top: 30px;
  float: right;
  height: 600px;
}
