.featured-product {
  background-color: #ffffff;
  height: auto;
}
.featured-product-list-product-grid {
  height:338px;
  display:flex;
  list-style: none;
  padding: 0;
  border-right: 1px solid #e6e6e6;
}


@media (max-width: 768px) {
  .featured-product-list-product-grid {
    padding: 0;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

}

