.featured-product {
  background-color: #ffffff;
  height: auto;
}
.featured-product-list-product-grid {
  height: 390px;
  display:flex;
  list-style: none;
  padding: 0;
  margin: 0 auto 18px;
  border-right: 1px solid #e6e6e6;
}


@media (max-width: 768px) {
  .featured-product-list-product-grid {
    padding: 0;
    width: 100%;

    overflow: hidden;
  }
}
  @media (max-width: 414px) {
    .featured-product-list-product-grid {
      padding: 0;
      width: 100%;
      margin: auto;
      overflow: hidden;
    }
}

