.rightside {
  float: right;
  width: 870px;
}

.rightside a{
  font-size: 15px;
  color: #666666;
}

.poster,
.posterafter {
  background: url("../products/imagecopy.jpg") center center no-repeat;
  width: auto;
  height: 348px;
  margin-top: 27px;
}
.posterafter {
  display: none;
}


.blogtext {
  background-color: #ffffff;
  line-height: 26px;
  padding: 60px 30px 0 30px;
}

h1 {
  font-size: 24px;
  color: #000000;
}

.notes {
  color: #666666;
  margin-top: 15px;
}

span {
  font-size: 15px;
  color: #999999;
}

.text {
  margin-top: 65px;
  padding-bottom: 58px;
}

p {
  font-size: 15px;
  color: #333333;
  text-align: justify;
}


.shareicons {
  list-style: none;
  padding: 0;
  color: #333333;
  font-size: 20px;
  margin: 0;
}

.shareicons  .tags {
  float: left;
  padding-top: 10px;
}

.sharesocial {
 float: right;
}

.shareicons li {
  display: inline;
  margin: 0;
}
.shareicons li a img {
  margin: 0 5px 0 8px;
}

.textfotter {
  border-top :1px solid #e4e4e4;
  background-color: #ffffff;
  padding: 20px 30px 20px 15px;
}


@media (max-width: 1366px) {
  .rightside {
    float: right;
    width: calc(100% - 325px);
  }
  .sharesocial {
    float: none;
    width: 100%;

  }
  .shareicons  .tags {
    float: none;
  }

}

@media (max-width: 769px) {
  .rightside {
    float: none;
    width: 100%
  }


  .poster {
    display: none;
  }

  .blogtext {
    margin-top: 25px;
    padding-top: 10px;
  }
  h1 {
    margin-top: 0;
  }

  .textfotter {
    padding-top: 5px;
  }

  .tags, .shareicons{
    float: none;
    text-align: center;
    margin-top: 30px;
  }

  .sharesocial {
    float: none;
    width: 100%;

}
  .shareicons li:first-child {
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 0;
  }

  .posterafter {
    display: block;
    margin-bottom: 27px;
  }
  .tags {
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 0;
  }
}

@media (max-width: 414px) {
  .sharesocial {
    margin-top: 20px;
  }

  .shareicons {
    margin: 0;
  }
  .shareicons li{
     margin: auto;
   }
  .shareicons li:first-child {
   display: none;
  }
}

