.sortandpage,.sortandview {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  background-color: #ffffff;
}

.sortby {
  font-size: 15px;
  color: #232323;
  margin: 10px;
}

select {
  font-size: 14px;
  color: #444444;
  padding: 5px 0;
  width: 100px;
  border:1px solid #e6e6e6;
}

.sortandpage ul {
  display: flex;
  justify-content: space-around;
  text-align: right;
  padding: 0;
  margin: 10px 10px 0 0;

}
.sortandpage ul li {
  list-style: none;
  font-size: 16px;
  color: #666666;
  width: 30px;
  height: 30px;
  border:1px solid #cccccc;
  text-align: center;
  padding-top: 5px;
  margin-left:1px ;
  box-sizing: border-box;
}
.sortandpage ul li a {
  text-decoration: none;
}
.sortandpage ul li a:hover,
.sortandpage ul li a.active {
  color:#ffffff;
}


.arrowtriangle{
  border-radius: 10px;
  padding: 20px;
  position: relative;
  color: #fff;
}
.arrowtriangle:after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  left: 10px; bottom: 25px; /* Положение треугольника */
  border: 6px solid transparent; /* Прозрачные границы */
  border-left: 6px solid #666666; /* Добавляем треугольник */
}

