.slider2 {
  border-top:1px solid #e6e6e6;
  margin-top: 60px;
}

.sliderhead {
  display: flex;
  justify-content: space-between;
}

.sliderhead a {
  text-decoration: none;
}

.sliderhead .prew,
.sliderhead .next {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #999999;
  font-size: 13px;
  padding: 30px 0 25px;
}

.prew .arrows {
  margin-right: 19px;
}

.next .arrows {
  margin-left: 19px;
}

.sliderhead a .nextactive,
.sliderhead a .prewactive {
  display: none;
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  margin-left: 19px;
  margin-right: 19px;
}

.sliderhead h2 {
  font-size: 18px;
  color: #232323;
  text-align: center;
  line-height: 1;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 30px 0 30px;
  margin: 0;
}

.slidercontent {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 62px;
}

.sliderelement {
  display: flex;
  justify-content: center;
  border-bottom:1px solid #e6e6e6;
  transition: border-color 0.5s;
}

.sliderelement:after {
  content: '';
  padding-bottom: 57px;
}


.slidersimage a {
  display: flex;
  justify-content: center;
}
.slidersimage img{
  border: 1px solid #be926f;
  margin: 0 0 22px 1px;
}


.slidercontent .product-title {
  font-size: 18px;
  color: #333333;
  line-height: 1.5;
  padding: 10px 0 8px;
  transition: color 0.5s;
}

.date {
  position: relative;
  font-size: 14px;
  color: #999999;
  margin-top: 7px;
  padding-bottom: 12px;
}

.date::before {
  content: url("images/clock.png");
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.slidercontent .product-title a{
  text-decoration: none;
  color: #333333;
}

.slidercontent .product-title a:hover{
  color: #be926f;
}

.sliderelement:hover {
  border-color: #be926f;
}


@media (max-width: 960px) {
  .slidercontent {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sliderelement {
    margin: 30px auto 0;
  }

  .slider2 {
    width: auto;
    margin: 60px 50px 0;
  }

}
