.slider2 {
  border-top:1px solid #e6e6e6;
  margin-top: 60px;
}

.slider3 {
  margin-top: 30px;
}

.sliderhead {
  display: flex;
  justify-content: space-between;
}

.sliderhead a {
  text-decoration: none;
}

.sliderhead a .prew,
.sliderhead a .next {
  display: flex;
  flex-direction: row;
  color: #999999;
  font-size: 13px;
  padding: 30px 0 25px;
  line-height: 1.6;
  transition: color 0.3s;
}

.prew .arrows {
  width: 12px;
  height: 23px;
  background: url("images/_left.png")center center no-repeat;;
  margin-right: 19px;
  transition:  background 0.3s;
}

.next .arrows {
  width: 12px;
  height: 23px;
  background: url("images/_right.png") center center no-repeat;
  margin-left: 19px;
  transition:  background 0.3s;
}


.sliderhead a .prew:hover .arrows{
  background: url("images/_leftactive.png") center center no-repeat; ;
}

.sliderhead a .next:hover .arrows{
  background: url("images/_rightactive.png") center center no-repeat; ;
}

.sliderhead a .prew:hover span,
.sliderhead a .next:hover span{
  color:  #be926f;
}



.sliderhead h2 {
  color: #232323;
  text-align: center;
  line-height: 1;
  padding: 33px 0 30px;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.slidercontent {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 62px;
}

.sliderelement {
  display: flex;
  justify-content: center;
  border-bottom:1px solid #e6e6e6;
  transition: border-color 0.5s;
}

.sliderelement:after {
  content: '';
  padding-bottom: 57px;
}


.slidersimage a {
  display: flex;
  justify-content: center;
}
.slidersimage img{
  border: 1px solid #be926f;
  margin: 0 0 22px 1px;
}


.slidercontent .product-title {
  font-size: 18px;
  color: #333333;
  line-height: 1.5;
  padding: 10px 0 8px;
  transition: color 0.5s;
}

.date {
  position: relative;
  font-size: 14px;
  color: #999999;
  margin-top: 7px;
  padding-bottom: 12px;
}

.date::before {
  content: url("images/clock.png");
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.slidercontent .product-title a{
  text-decoration: none;
  color: #333333;
}

.slidercontent .product-title a:hover{
  color: #be926f;
}

.sliderelement:hover {
  border-color: #be926f;
}


@media (max-width: 960px) {
  .slidercontent {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sliderelement {
    margin: 30px auto 0;
  }

  .slider2 {
    width: auto;
    margin: 60px 50px 0;
  }

}


