.smalladv {
  display:flex;
  justify-content: space-between;
  margin-top: 30px;
}

.smalladv2, .hotsale {
  display: flex;
  flex-direction: row;
  border: 1px solid #e6e6e6;
  padding: 20px 10px 20px 20px;
  width: 570px;
}

.smalladv2 {
  margin-right: 15px;
}


.smalladv a {
  text-decoration: none;
}

.smalladv2 img  {
  border: 1px solid #ffe0cb;
}

.adv1, .adv2 {
  display: flex;
  flex-direction: row;
}

.smalladv2 .text1, .text2 {
  margin-left: 20px;
}

.adv2 {
  margin-left:70px;
}


.hotsale {
  margin-left: 15px;
  /*padding: 25px 360px 25px 30px;*/
}

.hotsale img{
  padding-top: 1px;
  padding-left: 19px;
  margin-top: 12px;
  float: left;
}


