.smalladv {
  display:flex;
  justify-content: space-between;
  margin-top: 27px;
}


.smalladv2, .hotsale {
  display: flex;
  flex-direction: row;
  border: 1px solid #e6e6e6;
}

.smalladv2 {
  flex-basis: 50%;
  margin-right: 15px;
  padding: 20px 0 20px 20px;
}

.smalladv2 img  {
  border: 1px solid #ffe0cb;
}

.adv1, .adv2 {
  display: flex;
  flex-direction: row;
}

.smalladv2 .text1, .text2 {
  margin-left: 16px;
}

.adv2 {
  margin-left:70px;
}


.hotsale {
  flex-basis: 50%;
  margin-left: 15px;
  padding: 20px 0 20px 20px;
  text-wrap: none;
}

.hotsale img{
  padding-top: 1px;
  padding-left: 19px;
  margin-top: 12px;
  float: left;
}
.smalladv a{
  text-decoration: none;
}

.smalladv .product-title:hover{
  color: #ffe0cb;
}

@media (max-width: 960px) {
  .smalladv,
  .hotsale {
    flex-direction: column;
    margin: 20px  auto 0;
    max-width: 633px;
    min-width: 320px;
  }
  .hotsale {
    padding: auto;
    padding-right: 281px;

  }
  .smalladv2 {
    margin: auto 0;
    padding: auto;

  }
}
