html {
  /* font-size: 0.9375em; */ /* 1em=16px, 15px/16px */
  /* line-height: 1.733; */  /* 1em=15px , 26px/15px */
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  min-width: 320px;
  margin: auto;
}

.listunstyle {
  list-style: none;
  padding-left:0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  color: #666666;
  margin: auto;
}

@media (max-width: 768px) {

  .container {
    max-width: 768px;
    margin: auto;

  }
}
