.testimonials {
  background-color: #292929;
  text-align: center;
  color: #ffffff;
}

.testimonials h2 {
  font-size: 40px;
  padding: 45px 0 12px;
  margin: 0;
  line-height: 1.54;
}

.line {
  background-color: #be926f;
  border: none;
  height: 2px;
  width: 20px;
  margin: 0 auto 20px;
}

.testimonials span {
  font-size: 17px;
  color: #cccccc;
  line-height: 1.46;
}

.figure {
  padding-bottom: 31px;
}

.romb {
  width: 52px;
  height: 52px;
  border:1px solid #be926f;
  background-color: #ffffff;
  margin: 37px auto 15px;
  transform: rotate(45deg);
}



@media (max-width: 768px) {
  .testimonials span {
    text-align: center;
    margin: auto 10px;
  }
  .testimonials br {
    display: none;
  }
}

@media (max-width: 340px) {
  .testimonials span {
    text-align: center;
    font-size: 12px;
    margin: auto 10px;
  }
  .testimonials br {
    display: none;
  }
}


